.footer {
    background-color: darkgray;
    color: beige;
    
}.footer {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    h3{
        font-size: 2em;
        margin: 1em 0;
    }
}
