.galeria{
    background-color: rgb(15, 19, 224);
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__item img{
        width: 300px;
        height: 300px;
    }
    &__itme img:hover{
        width: 400px;
        height: 400px;
    }
}
.contenedor__galeria {
    display: grid;
    margin: 2%;
    row-gap: 2em;
    column-gap: 2em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}
