// Import
@import "footer", "header", "nav", "galeria"; 
html{
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    color: inherit !important;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.hero__inicio {
    display: flex;
    align-items: center;
    background-color: lightgrey;
    background-size: cover;
    background-position: center;
}

.hero__info {
    padding: 0 2em;
    text-align: center;
}

.hero__info h2 {
    font-size: 20px;
    color: rgb(62, 22, 99);
    text-transform: uppercase;
    margin-bottom: 1em;
}

.hero__info p {
    color: gray;
    font-size: 18px;
    
}

.texto{
    background-color: lightgray ;
    justify-content: center;
    text-align: center;
    
}


@media only screen and (min-width: 360px) {
    html{
        background-color: white;
    }
}

@media only screen and (min-width: 768px) {
    html{background-color: white;}
}

@media only screen and (min-width: 1024px) {
    html{background-color: white;}
}