.footer {
  background-color: black;
  color: beige;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white !important;
}

.footer h3 {
  font-size: 2em;
  margin: 1em 0;
  color: white;
}

.focus-nav {
  color: darkblue !important;
}

.img__header {
  height: 80px;
  margin-left: 1em;
  border-radius: 8px;
}

.sub__header {
  background-color: black;
  height: 3em;
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: center;
}

.sub__header h1 {
  color: white !important;
}

.nav {
  text-transform: uppercase;
  color: black;
  margin-right: 1em;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__menu--itmes {
  margin: 0 10px;
  color: black;
}

.galeria {
  background: url("https://images.unsplash.com/photo-1511651432281-5cf2a44004f4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1190&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: white !important;
  max-width: 100%;
  height: 200px;
  background-color: lightgray;
}

.galeria__item img {
  width: 350px;
  height: 350px;
}

.galeria__item img:hover {
  width: 400px;
  height: 400px;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-filter: sepia(1);
          filter: sepia(1);
}

.btn btn-primary {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

* {
  margin: 0;
  padding: 0;
  color: inherit !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-family: 'Roboto', sans-serif;
}

.hero__inicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: lightgrey;
  background-size: cover;
  background-position: center;
  color: #0e74d3 !important;
}

.hero__info {
  padding: 0 2em;
  text-align: center;
}

.hero__info h2 {
  font-size: 20px;
  color: #3e1663;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.hero__info p {
  color: gray;
  font-size: 18px;
}

.texto {
  background-color: lightgrey;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  border: solid 1px black;
}

.form__contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  margin: auto;
}

.form__contacto label {
  padding: 1em 0;
}

.form__contacto input {
  padding: 0.5em;
}

.form__contacto textarea {
  resize: none;
  padding: 0.5em;
}

@media only screen and (min-width: 360px) {
  html {
    background-color: white;
  }
  .sub__header {
    height: 100px;
    text-align: center;
  }
  .contenedor__galeria,
  .hero__inicio {
    display: block;
  }
  .footer {
    display: block;
  }
  .footer__contacto, .footer__map {
    padding: 1em;
  }
}

@media only screen and (min-width: 768px) {
  html {
    background-color: white;
  }
  .contenedor__galeria,
  .hero__inicio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .galeria__item {
    padding: 1em;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 1024px) {
  html {
    background-color: white;
  }
  .hero__inicio {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .contenedor__galeria {
    display: -ms-grid;
    display: grid;
    place-items: center;
    margin: 2em 0;
    padding: 1em;
    row-gap: 2em;
    -webkit-column-gap: 2em;
            column-gap: 2em;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
}
/*# sourceMappingURL=styles.css.map */